@charset "UTF-8";
.logo a, h1, .descr h3, .hoof-trimming .wrapper h3, .production h3, .production .slide h2 span, .production .slide-2 h2, .contacts h3, .contacts h5 {
  font-family: 'Moloko', 'Monotype Corsiva';
  color: #60825b;
}

.logo, nav, .begin .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@font-face {
  font-family: "Moloko";
  src: url("/assets/fonts/Moloko.ttf");
}

@font-face {
  font-family: "Proba Pro";
  src: url("/assets/fonts/ProbaPro-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Proba Pro";
  src: url("/assets/fonts/ProbaPro-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Proba Pro";
  src: url("ProbaPro-Medium.ttf");
  font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a:active, a:focus {
  outline: none;
}

input::-moz-placeholder {
  color: #60825b;
}

input::-webkit-input-placeholder {
  color: #60825b;
}

textarea::-moz-placeholder {
  color: #60825b;
}

textarea::-webkit-input-placeholder {
  color: #60825b;
}

input, textarea {
  outline: none;
}

input:active, textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e7e6e6;
}

::-webkit-scrollbar-thumb {
  background: #60825b;
}

::-webkit-scrollbar-thumb:hover {
  background: #c1dcbd;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Proba Pro", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #60825b;
}

body {
  background-color: #c1dcbd;
  background-image: url(/assets/img/bg-1.svg);
  background-position: 0% 0%;
  background-size: 100%;
  background-repeat: no-repeat;
}

*::-moz-selection {
  background: #c1dcbf;
}

*::selection {
  background: #c1dcbf;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  z-index: 2;
}

header .wrapper {
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo a {
  color: #60825b;
  text-decoration: none;
  font-size: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  min-width: 600px;
}

header li {
  list-style: none;
  text-transform: uppercase;
}

header li:last-child {
  font-weight: 600;
}

header li a {
  text-decoration: none;
  color: #60825b;
}

main {
  max-width: 1150px;
  margin: 0px auto;
}

h1 {
  font-size: 85px;
  font-weight: 400;
}

.begin .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100vh - 100px);
  width: 100%;
  padding: 0px 0px;
}

.descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 110px;
}

.descr h3 {
  font-size: 55px;
  margin-top: 27px;
}

.descr h2, .descr p {
  padding-top: 8px;
  font-size: 20px;
}

button {
  margin-top: 40px;
  background-color: #c1dcbd;
  -webkit-box-shadow: 1px 2px 5px rgba(105, 105, 105, 0.63);
          box-shadow: 1px 2px 5px rgba(105, 105, 105, 0.63);
  padding: 10px;
  border-radius: 15px;
  border: none;
  color: #60825b;
  width: 150px;
  font-size: 20px;
  text-transform: uppercase;
}

.img {
  position: relative;
  left: 97px;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img img {
  width: 500px;
}

.img .respo-img {
  width: 700px;
  background-image: url(/assets/img/grass.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.hoof-trimming {
  margin-top: 40px;
}

.hoof-trimming .wrapper {
  padding: 50px, 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hoof-trimming .wrapper h2 {
  padding-top: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  width: 500px;
  font-size: 16px;
}

.hoof-trimming .wrapper h3 {
  font-size: 40px;
  text-align: center;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(/assets/img/cow.png);
  background-size: 422px;
  background-repeat: no-repeat;
  background-position-x: 49%;
}

.card {
  width: 300px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: #e7e6e6;
  border-radius: 27px;
  padding: 20px;
}

.card .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card h4 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 10px;
  color: #60825b;
  font-size: 20px;
  font-weight: 500;
}

.card p {
  margin-top: 15px;
  margin-left: 5px;
  padding-bottom: 10px;
  text-align: justify;
}

.card:nth-of-type(2n) {
  margin-left: 140px;
}

.card:nth-of-type(n+3) {
  margin-top: 40px;
}

.production {
  margin-top: 40px;
}

.production .wrapper {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.production h3 {
  font-size: 40px;
  text-align: center;
}

.production p {
  margin-top: 15px;
  padding-bottom: 10px;
  text-align: justify;
}

.production .slider {
  width: 1100px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 150px;
}

.production .slider > img:nth-of-type(2) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.production .shower {
  position: relative;
  width: 100%;
  margin: 0px 30px;
  overflow: hidden;
  height: 500px;
}

.production .slide {
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.production .slide h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

.production .slide h2 span {
  font-size: 38px;
  text-transform: initial;
}

.production .slide ul {
  margin-top: 30px;
}

.production .slide ul li {
  font-size: 18px;
  list-style: none;
  background-image: url(/assets/img/icon.svg);
  background-size: 20px;
  background-position-y: 50%;
  background-repeat: no-repeat;
  padding-left: 30px;
  margin-top: 10px;
}

.production .slide-2 h2 {
  font-size: 50px;
  text-transform: initial;
}

.slide-2 .desription {
  margin-bottom: 20px;
}

.desription {
  width: 100%;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 90px;
}

.contacts h3 {
  font-size: 40px;
  text-align: center;
  width: 100%;
}

.contacts h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 20px;
  width: 100%;
}

.contacts .wrapper {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts .wrapper .wrapper-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-left: 20px;
}

.contacts .wrapper .wrapper-in h4 {
  margin-left: 0px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 30px;
}

.contacts .wrapper .wrapper-in p {
  margin: 0px;
}

.contacts .wrapper .number {
  font-size: 20px;
  vertical-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.contacts .wrapper .number img {
  margin-right: 4px;
}

.contacts .wrapper .email {
  font-size: 20px;
  padding: 20px;
  padding-top: 8px;
}

.contacts .wrapper > div > div, .contacts .wrapper form {
  margin-top: 30px;
}

.contacts .ivan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding: 20px;
}

.contacts h5 {
  font-size: 30px;
  color: #60825b;
  text-align: center;
}

.contacts .call {
  width: calc((100% - 30px) / 2);
}

.contacts .card {
  width: auto;
  padding: 0px;
}

.contacts .send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc((100% - 30px) / 2);
}

.contacts form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts #name {
  width: calc((100% - 20px) / 2);
}

.contacts #tel {
  width: calc((100% - 20px) / 2);
}

.contacts #product {
  width: 100%;
}

.contacts textarea {
  width: 100%;
}

.contacts form input, .contacts textarea {
  padding: 5px;
  background: none;
  border: none;
  border-bottom: 5px solid white;
  color: #60825b;
  font-size: 20px;
  margin-top: 10px;
}

.contacts iframe {
  border: none;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
}

/* Классы слайдера */
.left {
  margin-left: 10.25px;
  margin-bottom: -11px;
}

.right {
  margin-right: 9.64px;
  margin-bottom: -12px;
}

.s-active, .next {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px 15px 0px;
}

.item {
  display: none;
  position: relative;
  -webkit-animation: 0.7s cubic-bezier(0.71, -0.02, 0.27, 0.98);
          animation: 0.7s cubic-bezier(0.71, -0.02, 0.27, 0.98);
  width: 100%;
}

.s-active, .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.next {
  position: absolute;
  width: 100%;
}

.to-left {
  -webkit-animation-name: left;
          animation-name: left;
}

.to-right {
  -webkit-animation-name: right;
          animation-name: right;
  animation-direction: reverse;
}

.from-left {
  -webkit-animation-name: left;
          animation-name: left;
  animation-direction: reverse;
}

.from-right {
  -webkit-animation-name: right;
          animation-name: right;
}

@-webkit-keyframes left {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -100%;
    top: 0;
  }
}

@keyframes left {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -100%;
    top: 0;
  }
}

@-webkit-keyframes right {
  from {
    left: 100%;
    top: 0;
  }
  to {
    left: 0;
    top: 0;
  }
}

@keyframes right {
  from {
    left: 100%;
    top: 0;
  }
  to {
    left: 0;
    top: 0;
  }
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #e7e6e6;
}

.loaded {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.clock {
  border-radius: 60px;
  border: 3px solid #60825b;
  height: 80px;
  width: 80px;
  position: relative;
  top: 28%;
  top: calc(50% - 143px);
  left: 35%;
  left: calc(50% - 43px);
}

.clock h2 {
  position: relative;
  top: 100px;
  right: 60px;
  width: 400px;
  color: #60825b;
  font-weight: 500;
}

.clock:after {
  content: "";
  position: absolute;
  background-color: #60825b;
  top: 2px;
  left: 48%;
  height: 38px;
  width: 4px;
  border-radius: 5px;
  -webkit-transform-origin: 50% 97%;
  transform-origin: 50% 97%;
  -webkit-animation: grdAiguille 2s linear infinite;
  animation: grdAiguille 2s linear infinite;
}

@-webkit-keyframes grdAiguille {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes grdAiguille {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.clock:before {
  content: "";
  position: absolute;
  background-color: #60825b;
  top: 6px;
  left: 48%;
  height: 35px;
  width: 4px;
  border-radius: 5px;
  -webkit-transform-origin: 50% 94%;
  transform-origin: 50% 94%;
  -webkit-animation: ptAiguille 12s linear infinite;
  animation: ptAiguille 12s linear infinite;
}

@-webkit-keyframes ptAiguille {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes ptAiguille {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */