@charset "UTF-8";
.logo a, h1, .descr h3, .hoof-trimming .wrapper h3, .production h3, .production .slide h2 span, .production .slide-2 h2, .contacts h3, .contacts h5, .contacts .card > div h4, footer h2, .clock h2, .trimming .wrapper h5 {
  font-family: 'Moloko', 'Monotype Corsiva';
  color: #2d5028;
}

.trimming .wrapper .targets .target .target-discription h2 {
  font-family: 'Montserrat', 'Times New Roman', Times, serif;
}

.logo, nav, .begin .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@font-face {
  font-family: "Moloko";
  src: url("../assets/fonts/Moloko.ttf");
}

@font-face {
  font-family: "Proba Pro";
  src: url("../assets/fonts/ProbaPro-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Proba Pro";
  src: url("../assets/fonts/ProbaPro-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Proba Pro";
  src: url("../assets/fonts/ProbaPro-Medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a:active, a:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a:active, a:focus {
  outline: none;
}

input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.62);
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.62);
}

input, textarea {
  outline: none;
}

input:active, textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

input::-moz-placeholder {
  color: #2d5028;
}

input::-webkit-input-placeholder {
  color: #2d5028;
}

textarea::-moz-placeholder {
  color: #2d5028;
}

textarea::-webkit-input-placeholder {
  color: #2d5028;
}

input, textarea {
  outline: none;
}

input:active, textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e7e6e6;
}

::-webkit-scrollbar-thumb {
  background: #2d5028;
}

::-webkit-scrollbar-thumb:hover {
  background: #c1dcbd;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Proba Pro", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #2d5028;
}

body {
  background-color: #f7f7f7;
  overflow-x: hidden;
  color: #656565;
}

.scroll {
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  overflow-y: scroll;
  max-height: 100vh;
}

section, header, footer {
  scroll-snap-align: start;
}

.bg-svg {
  position: fixed;
  width: 100%;
  z-index: -1;
  top: -35px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 3196px;
  width: 2600px;
  background-repeat: no-repeat;
}

@-moz-document url-prefix() {
  .bg-svg {
    position: absolute;
    animation-name: moz;
    animation-duration: 1.0s;
  }
}

@-webkit-keyframes moz {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moz {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#first {
  -webkit-transition: 2.0s;
  transition: 2.0s;
}

*::-moz-selection {
  background: #c1dcbf;
}

*::selection {
  background: #c1dcbf;
}

header {
  top: 25px;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65px;
  z-index: 2;
  opacity: 1;
  -webkit-transition: 0.3s, top 0.0s;
  transition: 0.3s, top 0.0s;
}

header .wrapper {
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #f7f7f7;
  margin-top: 0px;
  opacity: 0.9;
  -webkit-transition: 0.3s, top 0.0s;
  transition: 0.3s, top 0.0s;
  height: 65px;
}

.logo a {
  color: #2d5028;
  text-decoration: none;
  font-size: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header img {
  display: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  min-width: 600px;
}

nav a {
  text-decoration: none;
  color: #2d5028;
  text-decoration: none;
  display: inline;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), color-stop(21%, currentColor));
  background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%);
  background-position: 0 20px;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  padding-bottom: 6px;
  -webkit-transition: background-size 0.2s ease-in-out;
  transition: background-size 0.2s ease-in-out;
}

nav a:hover {
  background-size: 100% 3px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

header li {
  list-style: none;
  text-transform: uppercase;
}

header li:last-child {
  font-weight: 600;
}

header li a {
  text-decoration: none;
  color: #2d5028;
}

.logo-burger {
  display: none;
}

.active a {
  background-size: 100% 3px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

h1 {
  font-size: 85px;
  font-weight: 400;
}

.begin {
  background-size: cover;
  margin: 0px auto;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.begin button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.begin button:hover {
  -webkit-box-shadow: -1px -1px white, -2px -2px white, -3px -3px white, -4px -4px #2d5028;
          box-shadow: -1px -1px white, -2px -2px white, -3px -3px white, -4px -4px #2d5028;
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.begin .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1150px;
  padding: 0px 0px;
  padding-top: 150px;
}

.descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 110px;
}

.descr h3 {
  font-size: 55px;
  margin-top: 27px;
}

.descr h2, .descr p {
  padding-top: 8px;
  font-size: 20px;
}

.descr a {
  margin-top: 40px;
}

button {
  background-color: #c1dcbd;
  padding: 10px;
  border-radius: 15px;
  border: none;
  color: #2d5028;
  width: 150px;
  font-size: 20px;
  text-transform: uppercase;
}

.img {
  position: relative;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img img {
  width: 500px;
}

.img .respo-img {
  width: 700px;
  background-image: url(../assets/img/grass.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.hoof-trimming {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hoof-trimming .wrapper {
  max-width: 1150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hoof-trimming .wrapper h2 {
  padding-top: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  width: 500px;
  font-size: 16px;
}

.hoof-trimming .wrapper h3 {
  font-size: 40px;
  text-align: center;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../assets/img/cow.png);
  background-size: 422px;
  background-repeat: no-repeat;
  background-position-x: 49%;
}

.card {
  width: 300px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: #e7e6e6;
  border-radius: 27px;
  padding: 20px;
}

.card .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card h4 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 10px;
  color: #2d5028;
  font-size: 20px;
  font-weight: 500;
}

.card p {
  margin-top: 15px;
  margin-left: 5px;
  padding-bottom: 10px;
  text-align: justify;
}

.card:nth-of-type(2n) {
  margin-left: 140px;
}

.card:nth-of-type(n+3) {
  margin-top: 40px;
}

.production {
  padding-top: 80px;
}

.production .wrapper {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.production h3 {
  font-size: 40px;
  text-align: center;
}

.production p {
  margin-top: 15px;
  padding-bottom: 10px;
  text-align: justify;
}

.production .slider {
  width: 1100px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.production .slider > img:nth-of-type(2) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.production .shower {
  position: relative;
  width: 100%;
  margin: 0px 30px;
  overflow: hidden;
  height: 500px;
}

.production .slide {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 500px;
}

.production .slide h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

.production .slide h2 span {
  font-size: 38px;
  text-transform: initial;
}

.production .slide ul {
  margin-top: 19px;
}

.production .slide ul li {
  font-size: 18px;
  list-style: none;
  background-image: url(../assets/img/icon.svg);
  background-size: 20px;
  background-position-y: 50%;
  background-repeat: no-repeat;
  padding-left: 30px;
  margin-top: 10px;
}

.production .slide-2 ul li {
  margin-top: 27px;
}

.production .slide-2 h2 {
  font-size: 50px;
  text-transform: initial;
}

.slide-2 .desription {
  margin-bottom: 20px;
}

.desription {
  width: 100%;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 90px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.contacts .feed-wrap {
  max-width: 1150px;
}

.contacts h3 {
  font-size: 40px;
  text-align: center;
  width: 100%;
}

.contacts h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 12px;
  width: 100%;
}

.contacts .wrapper {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts .wrapper .wrapper-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-left: 20px;
}

.contacts .wrapper .wrapper-in h4 {
  margin-left: 0px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 30px;
}

.contacts .wrapper .wrapper-in p {
  margin: 0px;
}

.contacts .wrapper .number {
  font-size: 20px;
  vertical-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts .wrapper .number img {
  margin-right: 4px;
}

.contacts .wrapper .email {
  font-size: 20px;
}

.contacts .wrapper > div > div, .contacts .wrapper form {
  margin-top: 5px;
}

.contacts .ivan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-top: 60px;
}

.contacts h5 {
  font-size: 45px;
  color: #2d5028;
  text-align: center;
}

.contacts .call {
  width: 100%;
}

.contacts .card {
  width: 100%;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 500px;
}

.contacts .send {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc((100% - 30px) / 2);
}

.contacts form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts #name {
  width: calc((100% - 20px) / 2);
}

.contacts #tel {
  width: calc((100% - 20px) / 2);
}

.contacts #product {
  width: 100%;
}

.contacts textarea {
  width: 100%;
}

.contacts form input, .contacts textarea {
  padding: 5px;
  background: none;
  border: none;
  border-bottom: 5px solid white;
  color: #2d5028;
  font-size: 20px;
  margin-top: 10px;
}

.contacts iframe {
  border: none;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
}

h5 {
  text-align: center;
}

.contacts .card > div {
  width: 50%;
  padding: 50px 100px 50px 50px;
}

.contacts .card > div h4 {
  font-size: 60px;
}

.contacts .card > div p {
  margin-top: 55px;
  font-size: 20px;
}

.numail {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
  height: 50px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e7e6e6;
  margin-top: 80px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

footer h2 {
  font-size: 32px;
}

footer > div {
  width: 1150px;
  margin: 20px auto;
}

/* Аккордион */
.tabs {
  display: none;
  width: calc(95% - 380px);
  margin-left: auto;
  border-radius: 8px;
  overflow: hidden;
}

.tabs input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab {
  width: 100%;
  color: #2d5028;
  overflow: hidden;
}

.tab-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 800;
  padding: 1em;
  background: #e7e6e6;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}

.tab-label:hover {
  background: #a2ca9c;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  background: white;
  -webkit-transition: all .2s;
  transition: all .2s;
}

input:checked + .tab-label {
  background: #82b97a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
}

input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

/* Классы слайдера */
.left {
  margin-left: 10.25px;
  margin-bottom: -11px;
}

.right {
  margin-right: 9.64px;
  margin-bottom: -12px;
}

.slider > img:hover {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.s-active, .next {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 15px 0px;
}

.item {
  display: none;
  position: relative;
  -webkit-animation: 0.7s cubic-bezier(0.71, -0.02, 0.27, 0.98);
          animation: 0.7s cubic-bezier(0.71, -0.02, 0.27, 0.98);
  width: 100%;
}

.s-active, .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.next {
  position: absolute;
  width: 100%;
}

.to-left {
  -webkit-animation-name: left;
          animation-name: left;
}

.to-right {
  -webkit-animation-name: right;
          animation-name: right;
  animation-direction: reverse;
}

.from-left {
  -webkit-animation-name: left;
          animation-name: left;
  animation-direction: reverse;
}

.from-right {
  -webkit-animation-name: right;
          animation-name: right;
}

@-webkit-keyframes left {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -100%;
    top: 0;
  }
}

@keyframes left {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -100%;
    top: 0;
  }
}

@-webkit-keyframes right {
  from {
    left: 100%;
    top: 0;
  }
  to {
    left: 0;
    top: 0;
  }
}

@keyframes right {
  from {
    left: 100%;
    top: 0;
  }
  to {
    left: 0;
    top: 0;
  }
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: #f7f7f7;
}

.loaded {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.clock {
  border-radius: 60px;
  border: 3px solid #2d5028;
  height: 80px;
  width: 80px;
  position: relative;
  top: 28%;
  top: calc(50% - 143px);
  left: 35%;
  left: calc(50% - 43px);
}

.clock h2 {
  position: relative;
  top: 100px;
  right: 60px;
  width: 400px;
  color: #2d5028;
  font-weight: 500;
}

.clock:after {
  content: "";
  position: absolute;
  background-color: #2d5028;
  top: 2px;
  left: 48%;
  height: 38px;
  width: 4px;
  border-radius: 5px;
  -webkit-transform-origin: 50% 97%;
  transform-origin: 50% 97%;
  -webkit-animation: grdAiguille 2s linear infinite;
  animation: grdAiguille 2s linear infinite;
}

@-webkit-keyframes grdAiguille {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes grdAiguille {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.clock:before {
  content: "";
  position: absolute;
  background-color: #2d5028;
  top: 6px;
  left: 48%;
  height: 35px;
  width: 4px;
  border-radius: 5px;
  -webkit-transform-origin: 50% 94%;
  transform-origin: 50% 94%;
  -webkit-animation: ptAiguille 12s linear infinite;
  animation: ptAiguille 12s linear infinite;
}

@-webkit-keyframes ptAiguille {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes ptAiguille {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1199px) {
  body {
    width: 100%;
  }
  header {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  header .wrapper {
    margin: 0px 30px;
  }
  .descr {
    width: 50%;
  }
  .img {
    bottom: 70px;
    width: 50%;
  }
  .img .respo-img {
    width: 370px;
  }
  .begin {
    height: 530px;
  }
  .begin .wrapper {
    padding: 220px 80px 0px 80px;
    max-width: inherit;
  }
  .hoof-trimming {
    padding-top: 100px;
  }
  .production .slider {
    width: 100%;
    max-width: 1000px;
  }
  .production .slider .slide {
    height: 350px;
  }
  .production .slider .slide-1 {
    margin-bottom: 0px;
  }
  .production .slider .slide-2 li {
    margin-top: 22px;
  }
  .card {
    display: none;
  }
  .tabs {
    display: block;
    padding-right: 20px;
  }
  .desription {
    margin-bottom: 0px;
  }
  .features {
    background-size: 350px;
    min-height: 450px;
    background-position-x: 5%;
  }
  .production {
    padding-top: 25px;
  }
  .production .wrapper {
    padding: 50px 0px 0px 0px;
  }
  .production .shower {
    height: 350px;
  }
  .slide img {
    width: 200px;
  }
  .slider {
    margin-top: 0px;
  }
  .contacts {
    margin-top: 0px;
    padding-top: 80px;
  }
  .contacts .feed-wrap {
    width: calc(100% - 110px);
  }
  .contacts .card > div {
    padding: 50px 30px 50px 30px;
  }
  .contacts h5 {
    font-size: 35px;
  }
  .contacts p {
    font-size: 18px !important;
  }
  .contacts .call {
    width: calc(100% - 30px);
  }
  .left {
    margin-left: 20px;
  }
  .right {
    margin-right: 20px;
  }
  footer div {
    width: calc(100% - 50px);
    max-width: 1150px;
  }
}

@media only screen and (max-width: 1020px) {
  header .wrapper {
    margin: 0px;
    padding: 0px 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: -2;
  }
  header nav {
    left: -300px;
    display: block;
    position: absolute;
    top: -25px;
    width: 100vw;
    height: calc(100vh + 95px);
    background-color: white;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    width: 300px;
  }
  header nav .burger-overflow-hidden {
    background: #2d303a;
    position: fixed;
    height: calc(100vh + 25px);
    width: 100vw;
    left: 0px;
    top: -25px;
    z-index: -1;
    display: none;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  header nav .burger-overflow-animation {
    display: block !important;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
  header nav .burger-overflow {
    display: block;
    background: #2D303A;
    opacity: 0.6;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  header nav a {
    background-position: 0 27px;
  }
  header nav ul {
    width: 240px;
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 140px 20px 0px 30px;
    font-size: 23px;
    min-width: inherit;
  }
  header nav ul li {
    margin-bottom: 25px;
    width: 250px;
  }
  header .opacity {
    opacity: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  header .logo-burger {
    display: block;
    position: absolute;
    left: 86px;
    top: 43px;
  }
  header .logo-burger h2 {
    font-family: 'Moloko', 'Monotype Corsiva';
    color: #2d5028;
    font-size: 38px;
  }
  header img {
    display: block;
    z-index: 1;
    width: 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 2;
    position: absolute;
    top: 25px;
    left: 30px;
  }
  header .menu-active {
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    left: 0;
    -webkit-box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
            box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
  }
  header .logo {
    z-index: 4;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  header .rotate {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

@media only screen and (max-width: 768px) {
  body > svg {
    bottom: -75%;
    top: inherit;
  }
  .bg-svg {
    left: 54%;
    bottom: -175%;
    height: 329%;
    width: 200%;
    top: inherit;
  }
  header {
    top: 0px;
  }
  header .logo a {
    font-size: 30px;
  }
  header img {
    width: 25px;
  }
  .begin {
    height: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .begin .img {
    width: 135%;
    position: relative;
    z-index: -1;
    right: calc(-12px - 1vw);
    overflow: hidden;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    top: calc(-15px + 3vw);
  }
  .begin .img .respo-img {
    width: calc(370 * 100vw / 768);
  }
  .begin .descr {
    width: calc(100% - 43px);
    margin-bottom: 0px;
  }
  .begin .descr p {
    font-size: 16px;
  }
  .begin .wrapper {
    padding: 220px 58px 0px 24px;
    padding-top: 20px;
    margin-top: 100px;
    padding-left: calc(15 *1.5 * 200vw / 500);
  }
  .begin h1 {
    font-size: 50px;
  }
  .begin h3 {
    font-size: 43px;
  }
  .begin h2 {
    font-size: 16px;
  }
  .hoof-trimming .wrapper {
    max-width: calc(100vw - 40px);
  }
  .hoof-trimming .wrapper .features {
    background-size: 100%;
    margin-top: 0px;
    padding-top: 40px;
  }
  .hoof-trimming .wrapper h3 {
    font-size: 30px;
  }
  .hoof-trimming .wrapper h2 {
    width: inherit;
    font-size: 14px;
    padding-top: 7px;
  }
  .hoof-trimming .wrapper .tabs {
    width: 100%;
    padding: 0px;
    padding-top: calc(100vw - 80px);
  }
  .production p {
    margin-top: 7px;
  }
  .production .slider {
    margin-top: 0px;
  }
  .production .slider .left, .production .slider .right {
    width: 13px;
  }
  .production .slider .shower {
    min-height: 294px;
    height: calc(100vw - 20px);
  }
  .production .slider .shower .slide-2 .desription h2 {
    font-size: 25px;
  }
  .production .slider .shower .slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 0px;
    height: inherit;
  }
  .production .slider .shower .slide img {
    width: 100%;
    max-width: 320px;
  }
  .production .slider .shower .desription {
    margin: 0px;
  }
  .production .slider .shower .desription h2 span {
    font-size: 30px;
  }
  .production .slider .shower .desription ul {
    display: none;
  }
  .contacts .feed-wrap {
    width: calc(100% - 30px);
  }
  .contacts .feed-wrap h3 {
    font-size: 38px;
  }
  .contacts .feed-wrap h2 {
    font-size: 14px;
  }
  .contacts .feed-wrap h5 {
    font-size: 27px;
  }
  .contacts .feed-wrap .wrapper .call {
    width: 100%;
  }
  .contacts .feed-wrap .wrapper .call .card {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts .feed-wrap .wrapper .call iframe {
    width: 100%;
    height: 31vh;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
  }
  .contacts .feed-wrap .wrapper .call .card > div {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 45px 15px;
  }
  .contacts .feed-wrap .wrapper .call .card > div p {
    margin-top: 30px;
    margin-left: 0px;
  }
  .contacts .feed-wrap .wrapper .call .card > div .numail {
    margin-top: 0px;
  }
  footer {
    margin-top: 20px;
  }
  footer h2 {
    font-size: 26px;
  }
  footer p {
    font-size: 17px;
  }
}

@media only screen and (max-width: 639px) {
  .begin h3 {
    font-size: 37px;
  }
}

@media only screen and (max-width: 590px) {
  .begin .descr h3 {
    font-size: 25px;
    display: none;
  }
  .begin .descr p {
    padding-top: 4px;
    display: none;
  }
  .begin .descr a {
    margin-top: 25px;
  }
  .begin .descr button {
    font-size: 15px;
    width: 120px;
  }
}

@media only screen and (min-width: 420px) and (max-width: 768px) {
  .hoof-trimming .wrapper .features {
    background-size: 43%;
    background-position-x: 50%;
  }
  .hoof-trimming .wrapper .tabs {
    padding-top: calc(63vw - 177px);
  }
  .production .slider .shower {
    height: 445px;
  }
}

@media only screen and (min-width: 420px) and (max-width: 580px) {
  .hoof-trimming .wrapper .features {
    background-size: 55%;
    background-position-x: 50%;
  }
  .hoof-trimming .wrapper .tabs {
    padding-top: calc(74vw - 146px);
  }
}

@media only screen and (max-width: 375px) {
  .begin .wrapper {
    margin-top: 80px;
  }
  .begin h1 {
    font-size: 35px;
  }
  .begin h3 {
    font-size: 25px;
    display: none;
  }
  .begin .descr p {
    padding-top: 4px;
    display: none;
  }
  .begin .img img {
    width: 180px;
    top: 113px;
  }
}

.trimming-body {
  background-size: 203%;
  height: 513px;
  background-image: url(../assets/img/bg/trim-head.svg);
  background-repeat: no-repeat;
  background-position-y: 112%;
  background-position-x: center;
  background-color: #c1dcbd;
}

.trimming .wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trimming .wrapper img {
  padding-left: 90px;
}

.trimming .wrapper .trimming-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
  margin: 0px auto;
  margin-top: 110px;
}

.trimming .wrapper .trimming-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 600px;
}

.trimming .wrapper h5 {
  margin-top: 150px;
  font-size: 45px;
}

.trimming .wrapper .targets {
  margin: 0 auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 290px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trimming .wrapper .targets .target:hover {
  height: 260px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.trimming .wrapper .targets .target {
  max-width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 5px;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 160px;
}

.trimming .wrapper .targets .target .target-discription {
  margin-left: 20px;
}

.trimming .wrapper .targets .target .target-discription h2 {
  position: relative;
  top: 35px;
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 600;
}

.trimming .wrapper .targets .target .target-discription p {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 15px;
  opacity: 0;
  text-align: justify;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.trimming .wrapper .targets .target svg {
  width: 835px;
  margin-bottom: 30px;
}

.trimming .wrapper h2 {
  margin-top: 10px;
}

#Head, #tail {
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.target:hover #Head {
  -webkit-transition: 0.9s;
  transition: 0.9s;
  -webkit-transform: translate(-8px, 83px) rotate(-20deg);
          transform: translate(-8px, 83px) rotate(-20deg);
}

.target:hover #tail {
  -webkit-transition: 0.9s;
  transition: 0.9s;
  -webkit-transform: rotate(5deg) translate(13px, -2px);
          transform: rotate(5deg) translate(13px, -2px);
}

.target:hover p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1 !important;
}

.target:hover h2 {
  top: 0px !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #2d5028;
}

#left-door, #right-door, .target #Слой_1 .st19, .target #display > path {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#right-door {
  -webkit-transform-origin: 37% 51%;
          transform-origin: 37% 51%;
}

#left-door {
  -webkit-transform-origin: 12% 50%;
          transform-origin: 12% 50%;
}

.target:hover #left-door {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(-1, 1) translate(0px, 0px) !important;
          transform: scale(-1, 1) translate(0px, 0px) !important;
  -webkit-transform-origin: 12% 50%;
          transform-origin: 12% 50%;
}

.target:hover #right-door {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: skew(0deg, -50deg);
          transform: skew(0deg, -50deg);
}

.target:hover #display > path, .target:hover #Слой_1 .st19 {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  fill: #2c6d22  !important;
}

.target:hover #glass {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(1.1) translate(-10px, -30px);
          transform: scale(1.1) translate(-10px, -30px);
}

.target:hover #bottle {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(1.2) translate(-10px, -40px);
          transform: scale(1.2) translate(-10px, -40px);
}

#glass, #bottle {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/*# sourceMappingURL=style.css.map */