$bg-green: #c1dcbd;
$font-green: #2d5028;
$bg-gray: #e7e6e6;
$font-gray: #656565;
$light-gray: #f7f7f7;
$header-height: 100px;

$midnight: #2c3e50;
$clouds: #ecf0f1;

%font-moloko {
    font-family: 'Moloko', 'Monotype Corsiva';
    color: $font-green;
}

%flex-center {
    display: flex;
    align-content: center;
    justify-content: center;
}

@font-face {
    font-family: "Moloko";
    src: url("../assets/fonts/Moloko.ttf");
}

@font-face {
    font-family: "Proba Pro";
    src: url("../assets/fonts/ProbaPro-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Proba Pro";
    src: url("../assets/fonts/ProbaPro-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Proba Pro";
    src: url("../assets/fonts/ProbaPro-Medium.ttf");
    font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a:active, a:focus { outline: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a:active, a:focus { outline: none; }

input::-moz-placeholder { color: rgba(255, 255, 255, 0.62); }
input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.62); }
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}


input::-moz-placeholder { color: $font-green; }
input::-webkit-input-placeholder { color: $font-green; }
textarea::-moz-placeholder { color: $font-green; }
textarea::-webkit-input-placeholder { color: $font-green; }
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: $bg-gray;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $font-green;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: $bg-green;
  }

* {
    margin: 0px;
    padding: 0px;
    font-family: "Proba Pro", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: $font-green
}

body {
    background-color: $light-gray;
    overflow-x: hidden;
    color: $font-gray;
}


.scroll {
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    max-height: 100vh;
}

section, header, footer {
    scroll-snap-align: start;
}

.bg-svg {
    position: fixed;
    width: 100%;
    z-index: -1;
    top: -35px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 3196px;
    width: 2600px;
    background-repeat: no-repeat;
}

@-moz-document url-prefix()
{
    .bg-svg {
        position: absolute;
        animation-name: moz;
        animation-duration: 1.0s;
    }
}

@keyframes moz {
    form {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#first {
    transition: 2.0s;
}

*::selection {
    background: #c1dcbf;
}

header {
    top: 25px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 65px;
    z-index: 2;
    opacity: 1;
    transition: 0.3s, top 0.0s;
}

header .wrapper {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: $light-gray;
    margin-top: 0px;
    opacity: 0.9;
    transition: 0.3s, top 0.0s;
    height: 65px;
  }

.logo {
    @extend %flex-center;
}

.logo a {
    @extend %font-moloko;
    color: $font-green;
    text-decoration: none;  
    font-size: 40px;
    align-self: center;
}

nav {
    @extend %flex-center;
}

header img {
    display: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-self: center;
    min-width: 600px;
}
nav a {
    text-decoration: none;
    color: $font-green;
    text-decoration: none;
    display: inline;
    background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%);
    
    background-position: 0 20px;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    padding-bottom: 6px;
    transition: background-size 0.2s ease-in-out;
}

nav a:hover {
  background-size: 100% 3px;
  transition-delay: 0s;
}

header li {
    list-style: none;
    text-transform: uppercase;
    &:last-child {
        font-weight: 600;
    }
    a {
        text-decoration: none;
        color: $font-green;
    }
}

.logo-burger {
    display: none;
}

.active a{
    background-size: 100% 3px;
    transition-delay: 0s;
}

h1 {
    @extend %font-moloko;
    font-size: 85px;
    font-weight: 400;
}

.begin {
    background-size: cover;
    margin: 0px auto;
    height: 800px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    button {
        transition: 0.3s;
    }
    button:hover {
        box-shadow: -1px -1px white, -2px -2px white, -3px -3px white, -4px -4px $font-green;
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
        transition: 0.3s;
    }
}

.begin .wrapper {
    @extend %flex-center;
    justify-content: space-between;
    max-width: 1150px;
    padding: 0px 0px;
    padding-top: 150px;
}

.descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 110px;
    h3 {
        @extend %font-moloko;
        font-size: 55px;
        margin-top: 27px;
    }
    h2, p {
        padding-top: 8px;
        font-size: 20px;
    }
}

button {
    margin-top: 40px;
    background-color: $bg-green;
    padding: 10px;
    border-radius: 15px;
    border: none;
    color: $font-green;
    width: 150px;
    font-size: 20px;
    text-transform: uppercase;
}

.img {
    position: relative;
    bottom: 20px;
    display: flex;
    align-items: center;
}

.img img {
    width: 500px;
}

.img .respo-img {
    width: 700px;
    background-image: url(../assets/img/grass.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.hoof-trimming {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    .wrapper {
        max-width: 1150px;
        display: flex;
        flex-direction: column;
        align-content: center;
        h2 {
            padding-top: 20px;
            align-self: center;
            text-align: center;
            width: 500px;
            font-size: 16px;
        }
        h3 {
            @extend %font-moloko;
            font-size: 40px;
            text-align: center;
        }
    }
}

.features {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(../assets/img/cow.png);
    background-size: 422px;
    background-repeat: no-repeat;
    background-position-x: 49%;
}

.card {
    width: 300px;
    height: min-content;
    background-color: $bg-gray;
    border-radius: 27px;
    padding: 20px;
    //box-shadow: 1px 2px 5px rgba(105, 105, 105, 0.63);
    .title {
        display: flex;
    }
    h4 {
        align-self: center;
        margin-left: 10px;
        color: $font-green;
        font-size: 20px;
        font-weight: 500;
    }
    p {
        margin-top: 15px;
        margin-left: 5px;
        padding-bottom: 10px;
        text-align: justify;
    }

    &:nth-of-type(2n) {
        margin-left: 140px;
    }

    &:nth-of-type(n+3) {
        margin-top: 40px;
    }
}

.production {
    padding-top: 80px;
    .wrapper {
        padding: 50px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h3 {
        @extend %font-moloko;
        font-size: 40px;
        text-align: center;
    }
    p {
        margin-top: 15px;
        padding-bottom: 10px;
        text-align: justify;
    }

    .slider {
        width: 1100px;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        & > img:nth-of-type(2) {
            transform: rotate(180deg);
        }
    }

    .shower {
        position: relative;
        width: 100%;
        margin: 0px 30px;
        overflow: hidden;
        height: 500px;
    }

    .slide {
        align-self: center;
        height: 500px;
        h2 {
            text-align: center;
            text-transform: uppercase;
            font-size: 16px;
            span {
                @extend %font-moloko;
                font-size: 38px;
                text-transform: initial;
            }
        }
        ul {
            margin-top: 19px;
            li {
                font-size: 18px;
                list-style: none;
                background-image: url(../assets/img/icon.svg);
                background-size: 20px;
                background-position-y: 50%;
                background-repeat: no-repeat;
                padding-left: 30px;
                margin-top: 10px;
            }
        }
    }
}

.production .slide-2 ul li {
    margin-top: 27px;
}

.production .slide-2 h2 {
    @extend %font-moloko;
    font-size: 50px;
    text-transform: initial;
}

.slide-2 .desription {
    margin-bottom: 20px;
}

.desription {
    width: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 90px;
}

.contacts {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    .feed-wrap {
        max-width: 1150px;
    }
    h3 {
        @extend %font-moloko;
        font-size: 40px;
        text-align: center;
        width: 100%;
    }
    h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        padding-top: 12px;
        width: 100%;
    }

    .wrapper {
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .wrapper-in {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: flex-start;
            margin-left: 20px;
            h4 {
                margin-left: 0px;
                align-self: flex-start;
                font-size: 30px;
            }
            p {
                margin: 0px;
            }
        }

        .number {
            font-size: 20px;
            vertical-align: center;
            display: flex;
            align-items: center;
            img {
                margin-right: 4px;
            }
        }

        .email {
            font-size: 20px;
        }

        & > div > div, form {
            margin-top: 5px;
        }
    }
    .ivan {
        display: flex;
        align-content: flex-start;
        margin-top: 60px;
    }
    h5 {
        @extend %font-moloko; 
        font-size: 45px;
        color: $font-green;
        text-align: center;
    }

    .call {
        width: 100%;
    }

    .card {
        width: 100%;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        height: 500px;
    }

    .send {
        display: none;
        flex-direction: column;
        width: calc((100% - 30px) / 2);
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #name {
        width: calc((100% - 20px) / 2);
    }

    #tel {
        width: calc((100% - 20px) / 2);
    }

    #product {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    form input, textarea {
        padding: 5px;
        background: none;
        border: none;
        border-bottom: 5px solid white;
        color: $font-green;
        font-size: 20px;
        margin-top: 10px;
    }

    iframe {
        border: none;
        border-top-right-radius: 27px;
        border-bottom-right-radius: 27px;
    }
}

h5 {
    text-align: center;
}

.contacts .card > div {
    width: 50%;
    padding: 50px 100px 50px 50px;
    h4 {
        @extend %font-moloko;
        font-size: 60px;
    }
    p {
        margin-top: 55px;
        font-size: 20px;
    }
}

.numail {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 400px;
    height: 50px;
}

footer {
    display: flex;
    background-color: $bg-gray;
    margin-top: 80px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    h2 {
        @extend %font-moloko;
        font-size: 32px;
    }
    & > div {
        width: 1150px;
        margin: 20px auto;
    }
}

/* Аккордион */
.tabs {
    display: none;
    width: calc(95% - 380px);
    margin-left: auto;
    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }
    border-radius: 8px;
    overflow: hidden;
  }
  
  .tab {
    width: 100%;
    color: $font-green;
    overflow: hidden;
    &-label {
      display: flex;
      justify-content: space-between;
    font-weight: 800;
      padding: 1em;
      background: $bg-gray;
      font-weight: bold;
      cursor: pointer;
      /* Icon */
      &:hover {
        background: darken($bg-green, 10%);
        transition: 0.2s;
      }
      &::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all .35s;
      }
    }
    &-content {
      max-height: 0;
      padding: 0 1em;
      background: white;
      transition: all .35s;
    }
  }
  
  // :checked
  input:checked {
    + .tab-label {
      background: darken($bg-green, 20%);
      transition: 0.2s;
      color: white;
      &::after {
        transform: rotate(90deg);
      }
    }
    ~ .tab-content {
      max-height: 100vh;
      padding: 1em;
    }
  }



/* Классы слайдера */
.left {
    margin-left: 10.25px;
    margin-bottom: -11px;
  }

  .right {
    margin-right: 9.64px;
    margin-bottom: -12px;
  }

  .slider > img:hover {
    filter: brightness(1.5);
    transition: 0.3s;
  }

 .s-active, .next {
    justify-content: space-between;
    padding: 0px 0px 15px 0px;
  }

 .item {
    display: none;
    position: relative;
    animation: 0.7s cubic-bezier(0.71, -0.02, 0.27, 0.98);
    width: 100%;
  }
  
 .s-active, .next {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .next {
    position: absolute;
    width: 100%;
  }
  
  .to-left {
    animation-name: left;
  }
  
  .to-right {
    animation-name: right;
    animation-direction: reverse;
  }
  
  .from-left {
    animation-name: left;
    animation-direction: reverse;
  }
  
  .from-right {
    animation-name: right;
  }
  
  @keyframes left {
    from {
      left: 0;
      top: 0;
    }
    to {
      left: -100%;
      top: 0;
    }
  }
  
  @keyframes right {
    from {
      left: 100%;
      top: 0;
    }
    to {
      left: 0;
      top: 0;
    }
  }

/* Preloader */ 
#preloader {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    background-color: $light-gray;
}

.loaded {
    transition: 0.3s opacity;
    opacity: 0;
}

.clock {
	border-radius: 60px;
	border: 3px solid $font-green;
	height: 80px;
	width: 80px;
	position: relative;

	top: 28%;
	top: -webkit-calc(50% - 143px);
	top: calc(50% - 143px);
	left: 35%;
	left: -webkit-calc(50% - 43px);
    left: calc(50% - 43px);
    h2 {
        position: relative;
        top: 100px;
        right: 60px;
        width: 400px;
        color: $font-green;
        font-weight: 500;
        @extend %font-moloko;
    }
}

.clock:after {
	content: "";
	position: absolute;
	background-color: $font-green;
	top:2px;
	left: 48%;
	height: 38px;
	width: 4px;
	border-radius: 5px;
	-webkit-transform-origin: 50% 97%;
			transform-origin: 50% 97%;
	-webkit-animation: grdAiguille 2s linear infinite;
			animation: grdAiguille 2s linear infinite;
}

@-webkit-keyframes grdAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes grdAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

.clock:before{
	content: "";
	position: absolute;
	background-color: $font-green;
	top:6px;
	left: 48%;
	height: 35px;
	width: 4px;
	border-radius: 5px;
	-webkit-transform-origin: 50% 94%;
			transform-origin: 50% 94%;
	-webkit-animation: ptAiguille 12s linear infinite;
			animation: ptAiguille 12s linear infinite;
}

@-webkit-keyframes ptAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes ptAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

// Классы адаптивности
@media only screen and (max-width: 1199px) { 
    body {
        width: 100%;
    }

    header {
        left: 50%;
        transform: translate(-50%, 0);
        .wrapper {
            margin: 0px 30px;
        }
    }

    .descr {
        width: 50%;
    }

    .img {
        bottom: 70px;
        width: 50%;
        .respo-img {
            width: 370px;
        }
    }

    .begin {
        height: 530px;
        .wrapper {
            padding: 220px 80px 0px 80px;
            max-width: inherit;
        }
    }

    .hoof-trimming {
        padding-top: 100px;
    }

    .production {
        .slider {
            width: 100%;
            max-width: 1000px;
            .slide {
                height: 350px;
            }
            .slide-1 {
                margin-bottom: 0px;
            }
            .slide-2 li {
                margin-top: 22px;
            }
            
        }
    }

    .card {
        display: none;
    }

    .tabs {
        display: block;
        padding-right: 20px;
    }

    .desription {
        margin-bottom: 0px;
    }

    .features {
        background-size: 350px;
        min-height: 450px;
        background-position-x: 5%;
    }

    .production {
        padding-top: 25px;
        .wrapper {
            padding: 50px 0px 0px 0px;
        }
        .shower {
            height: 350px;
        }
    }

    .slide img {
        width: 200px;

    }

    .slider {
        margin-top: 0px;
    }

    .contacts {
        margin-top: 0px;
        padding-top: 80px;
        .feed-wrap {
            width: calc(100% - 110px);
        }

        .card > div {
            padding: 50px 30px 50px 30px;
        }
        h5 {
            font-size: 35px;
        }
        p {
            font-size: 18px !important;
        }
        .call {
            width: calc(100% - 30px);
        }
    }

    .left {
        margin-left: 20px;
    }

    .right {
        margin-right: 20px;
    }

    footer div {
        width: calc(100% - 50px);
        max-width: 1150px;
    }

}


@media only screen and (max-width: 1020px) {
    header {
        .wrapper {
            margin: 0px;
            padding: 0px 30px;
            justify-content: center;
            z-index: -2;
        }

    nav {
        left: -300px;
        display: block;
        position: absolute;
        top: -25px;
        width: 100vw;
        height: calc(100vh + 95px);
        background-color: white;
        transition: 0.4s ease-in-out;
        width: 300px;

        .burger-overflow-hidden {
            background: rgb(45, 48, 58);
            position: fixed;
            height: calc(100vh + 25px);
            width: 100vw;
            left: 0px;
            top: -25px;
            z-index: -1;
            display: none;
            transition: opacity 0.4s;
        }

        .burger-overflow-animation {
            display: block !important;
            opacity: 0;
            transition: opacity 0.5s;
        }

        .burger-overflow {
            display: block;
            background: #2D303A;
            opacity: 0.6;
            transition: opacity 0.4s;
        }

        a {
            background-position: 0 27px;
        }
        ul {
            width: 240px;
            margin-top: 40px;
            flex-direction: column;
            margin: 140px 20px 0px 30px;
            font-size: 23px;
            min-width: inherit;
            li {
                margin-bottom: 25px;
                width: 250px;
            }
        }

    }

    .opacity {
        opacity: 0;
        transition: 0.2s;
    }

    .logo-burger {
        display: block;
        position: absolute;
        left: 86px;
        top: 43px;
        h2 {
            font-family: 'Moloko', 'Monotype Corsiva';
            color: $font-green;
            font-size: 38px;
        }
    }

    img {
        display: block;
        z-index: 1;
        width: 30px;
        transition: 0.3s;
        z-index: 2;
        position: absolute;
        top: 25px;
        left: 30px;
    }

    .menu-active {
        transition: 0.4s ease-in-out;
        left: 0;
        box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
    }

    .logo {
        z-index: 4;
        transition: 0.2s;
    }

    .rotate {
        transform: rotate(90deg);
        transition: 0.3s;
    }
    
    }

} 

@media only screen and (max-width: 768px) {
    body > svg {
        display: none;
    }
    header {
        top: 0px;
    }
    .bg-svg {
        left: 54%;
        top: 11%;
        height: 1150px;
        width: 1500px;
    }
    .begin {
        height: auto;
        justify-content: start;
        .img {
            position: absolute;
            z-index: -1;
            right: -48px;
            overflow: hidden;
            align-items: start;
            top: 94px;
        }
        .descr {
            width: calc(100% - 43px);
            p {
                font-size: 16px;
            }
        }
        .wrapper {
            padding: 220px 58px 0px 24px;
            padding-top: 20px;
            margin-top: 100px;

        }
        h1 {
            font-size: 50px;

        }

        h3 {
            font-size: 43px;
        }

        h2 {
            font-size: 16px;
        }
    }

    
}
